<div class="ekart-product--container">



    <!-- <img [src]="product.pImage" alt="">

<p>Name{{product.name}} </p>
<p>Price:  {{'$' +  product.price}}</p>
<p>Color: Mate {{product.color}} </p>
<p>Discounted Price $798</p>
<p>Discounted Price: {{getDiscountedPrice().toFixed(2) }}</p>
<p>{{product.inStock > 0 ? 'Only'+product.inStock + 'items left ':' Not in Stock '}}</p>
<button (click)="decrementCartValue()">-</button>
<button>{{addToCart}}</button>
<button (click)="incrementCartValue()">+</button> -->
<!-- <input (input)="onNameChange($event)"><br>
<p>name={{name}}</p> -->   
<app-search (searchTextChanged)="setSearchText($event)">

</app-search>

<!-- <div *ngFor="let item of listOfString">
<p>Current element of array is {{item}}</p>
</div>
 -->
<product-list [searchText]="searchText" #productListComponent>

</product-list>
<product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></product-detail>


<div class="ekart-featured-products">
   <div class="ekart-featured-product-heading">
    <h1>Latest Arrival in Pupolar Brands</h1>
   </div>


   <featured-brands>
    <h3 class="title">New Arrivals in Nike</h3>
    
    <button class="call-to-action">Learn More</button>
   </featured-brands>
   <featured-brands>
    <h3 class="title">New Arrivals in Adidas</h3>
    <button class="call-to-action">Learn More</button>
   </featured-brands>
   <featured-brands>
    <h3 class="title">New Arrivals in Reabom</h3>
    <button class="call-to-action">Learn More</button>
   </featured-brands>









</div>


</div>